// @import normalize.scss

// ----------Body / Testing----- //

body {
	position: relative;
	min-height: 100vh;

}

body::after {

  content: "";
  background-image: url('../images/football-pitch-320100_1920.jpg');
  background-repeat: repeat-y;
  height: 100%;
  width: 100%;
  background-position: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

//----------Header Container----------//

.site-heading {
	margin-bottom: 2em;

}

.site-heading__left-col {

}

.site-heading__text {
	font-family: 'Amatic SC', cursive;
	font-size: 6em;
	margin-top: 0.5em;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

.site-heading__right-col {
	position: relative;
}

.site-heading__image {
	width: 7em;
	position: absolute;
	top: 4em;
}

//----------Team Size Container----------//

.team-size {
	margin-bottom: 2em;
}

.team-size__left-col {

}

.team-size__text {
	margin-left: 1em;
	font-family: 'Gaegu', cursive;
}

.team-size__center-col {

}

.team-size__number-players {

}

.team-size__right-col {

}


.team-button {
	margin: 1em;
	font-family: 'Gaegu', cursive;

}

.match-button {
	padding-left: 1.25em;
	padding-right: 1.25em;
	margin: 1em;
	font-family: 'Gaegu', cursive;
}

//----------Team Names / Score Container----------//

.team-names {

}

.team-names__row {

}

.team-names--textstyle {
	margin-left: 1em;
	font-family: 'Gaegu', cursive;
}

.team-one {

}

.team-two {

}


.team-member {
	font-family: 'Gaegu', cursive;
	font-size: 1.25em;
}

.score {

}

.score--text {
	margin-bottom: 1em;
	margin-left: 0.25em;
	font-family: 'Gaegu', cursive;
	font-size: 1.5em;
    text-decoration: underline;
}

.winner {
	margin-left: 0.25em;
	font-family: 'Gaegu', cursive;
	font-size: 1.5em;
    text-decoration: underline;
}


//----------Media Queries----------//

// Phone
@media only screen and (max-width:320px) {
	.site-heading__text {
		font-size: 3em;
	}

	.site-heading__image {
		width: 3em;
	}

	.team-member {
		font-family: 'Gaegu', cursive;
		font-size: 1em;
	}

}

// Tablet
@media only screen and (min-width:321px) and (max-width:768px) {
	.site-heading__text {
		font-size: 5em;
	}

	.site-heading__image {
		width: 5em;

	}

	.team-member {
		font-family: 'Gaegu', cursive;
		font-size: 1em;
	}

}



